venv/
__pycache__/
*.pyc
*.pyo
*.zip
videos/
*.pth
*.pt
*.png
*.jpg
*.pdf
results/*
!results/vanilla_ppo/
results/vanilla_ppo/*
!results/vanilla_ppo/summary.csv
!results/vanilla_ppo/summary_aggregated.csv
!results/penalty_ppo/
results/penalty_ppo/*
!results/penalty_ppo/summary.csv
!results/penalty_ppo/summary_aggregated.csv
!results/penalty_adjacent_ppo/
results/penalty_adjacent_ppo/*
!results/penalty_adjacent_ppo/summary_aggregated.csv
!results/penalty_adjacent_ppo/summary.csv
!results/penalty_adjacent_05_ppo/
results/penalty_adjacent_05_ppo/*
!results/penalty_adjacent_05_ppo/summary_aggregated.csv
!results/penalty_adjacent_05_ppo/summary.csv
