venv/
__pycache__/
*.pyc
*.pyo
*.zip
videos/
*.pth
*.pt
*.png
*.jpg
*.pdf
results/*
!results/vanilla_ppo/
results/vanilla_ppo/*
!results/vanilla_ppo/summary.csv
!results/vanilla_ppo/summary_aggregated.csv
