venv/
__pycache__/
*.pyc
*.pyo
*.zip
videos/
*.pth
*.pt
*.png
*.jpg
*.pdf
results/*
!results/vanilla_ppo/
results/vanilla_ppo/*
!results/vanilla_ppo/summary.csv
!results/vanilla_ppo/summary_aggregated.csv
!results/penalty_ppo/
results/penalty_ppo/*
!results/penalty_ppo/summary.csv
!results/penalty_ppo/summary_aggregated.csv
!results/hybrid_variant1_ppo/
results/hybrid_variant1_ppo/*
!results/hybrid_variant1_ppo/high penalty/
!results/hybrid_variant1_ppo/high penalty/summary.csv
!results/hybrid_variant1_ppo/high penalty/summary_aggregated.csv
